html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background-color: #f5f5f5; /* светло сиво фон */
    color: #333; /* тъмно сиво текст */
}

.navbar {
    background-color: #222; /* черен navbar */
}

    .navbar .nav-link {
        color: #f5f5dc !important; /* бежов текст */
    }

        .navbar .nav-link:hover {
            color: #ffcc00 !important; /* жълт при hover */
        }

/* Таблици */
.table {
    background-color: #fff;
}

    .table thead {
        background-color: #6c584c; /* кафяв header */
        color: #fff;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #ffe680;
}

/* Бутони */
.btn-primary {
    background-color: #ff9900;
    border-color: #cc6600;
}

.btn-success {
    background-color: #66cc66;
}

.btn-danger {
    background-color: #cc3333;
}

.btn-secondary {
    background-color: #999966;
}

/* Form inputs */
.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
