@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <h2>Privacy Policy</h2>
    <p style="color: ##FFFFF;">
        Your privacy is important to us. This application collects only the information necessary to track activities, calories, and recipes.
        We do not share your data with third parties. All data is stored locally and securely.
        By using this app, you agree to this privacy policy.
    </p>
</div>

