@model CalorieCore.DataModels.Recipe

<h2>Edit Recipe</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-2">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Ingredients">Ingredients</label>
        <textarea asp-for="Ingredients" class="form-control" rows="4" placeholder="List ingredients here"></textarea>
    </div>

    <div class="mb-2">
        <label asp-for="Instructions">Instructions</label>
        <textarea asp-for="Instructions" class="form-control" rows="5" placeholder="Step by step instructions"></textarea>
    </div>


    <div class="mb-2">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" class="form-control" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Type">Type of Food</label>
        <select asp-for="Type" class="form-control">
            <option>Main</option>
            <option>Dessert</option>
            <option>Salad</option>
            <option>Soup</option>
            <option>Snack</option>
            <option>Beverage</option>
            <option>Breakfast</option>
            <option>Side</option>
            <option>Appetizer</option>
            <option>Other</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Difficulty" class="form-label">Difficulty</label>
        <select asp-for="Difficulty" class="form-control">
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>

        </select>
    </div>


    <div class="mb-2">
        <label asp-for="Tags">Tags (comma-separated)</label>
        <input asp-for="Tags" class="form-control" placeholder="Easy to make, Quick, Vegan" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
