@model RegisterViewModel

<h2>Create Account</h2>

<form method="post">

    <div class="mb-2">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label>Age</label>
        <input asp-for="Age" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Weight (kg)</label>
        <input asp-for="Weight" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Height (cm)</label>
        <input asp-for="Height" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Goal</label>
        <select asp-for="Goal" class="form-control">
            <option>Lose</option>
            <option>Maintain</option>
            <option>Gain</option>
        </select>
    </div>


    <button class="btn btn-dark">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
